body {
  background-color: #D9DBBC;
}

ul {
  list-style-type: none;
  background-color: beige;
  width: 100%;
  left: 0;
  top: 0;
  position: fixed;
  padding: 15px 15px;
  margin: 0;
}

li {
  display: inline;
  padding: 10px 10px;
}

a {
  text-decoration: none;
  color: black;
  font-variant: small caps;
}

li a:hover {
  background-color: white;
  padding: 15px 15px;
}

h1 {
  color: white;
  text-shadow: 2px 2px 4px #000000;
  font-size: 200%;
  text-decoration-line: overline underline;
   text-decoration-color: black;
  font-family: "Lucida Console", "Courier New", monospace;
}
